* {
    margin:0;
    padding:0;
}

html h1, h2, h3, button, span, p, input, a {
    font-family:"Poppins", sans-serif;
    text-decoration:none;
}

a {
    color:black;
    text-decoration:underline;
}

body {
    height:calc(100vh - 100px);
    margin:0;
    background-image: linear-gradient(rgb(241, 241, 241), rgb(226, 226, 226));
}

#divMain {
    margin:50px;
    margin-bottom: 0px;
    margin-top:100px;
    text-align:center;
}

#h1Legenda {
    color:rgb(88, 88, 255);
    user-select: none;
}

#h1Palavra {
    overflow:hidden;
    font-size: 4.5vw;
    margin:0px;
}

.h1PalavraAnim {
    animation: popup 0.7s;
}

@keyframes popup {
    0% {
        font-size:4.5vw;
    }
    50% {
        font-size:4.8vw;
    }
    100% {
        font-size:4.5vw;
    }
}

#divMain p {
    margin-top:0px;
}

#divMain button {
    user-select: none;
    margin-top:10px;
    font-size:20px;
    color:white;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left:30.42px;
    background-color:rgb(88, 88, 255);
    border-style:none;
    border-radius:20px;
    transition: transform 0.5s;
}

#divMain button:hover {
    cursor:pointer;
    transform: scale(1.1)
}

#maisOp {
    user-select:none;
    color:rgb(151, 151, 151);
    font-weight:bold;
    font-size:15px;
    border-style:solid;
    border-radius:10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left:5px;
}

#maisOp:hover {
    cursor:pointer;
}

#divLimita {
    user-select: none;
    visibility:hidden;
    display:block;
    margin:0 auto;
}

.divLimitaAnim {
    animation: aparecer 0.5s;
}

@keyframes aparecer {
    from {
        margin-top:-30px;
        opacity:0;
    }
    to {
        margin-top:0px;
        opacity:1;
    }
}

#divLimita p {
    margin:0px;
    color:rgb(144, 144, 144);
}

#inputLimite {
    margin-top:25px;
    margin-bottom:10px;
    border-style:solid;
    border-radius:8px;
}

#limpa {
    user-select:none;
    color:rgb(151, 151, 151);
    font-weight:bold;
    font-size:15px;
    border-style:solid;
    border-radius:10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right:5px;
}

#limpa:hover {
    cursor:pointer;
}

#confirma {
    user-select:none;
    color:rgb(151, 151, 151);
    font-weight:bold;
    font-size:15px;
    border-style:solid;
    border-radius:10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left:5px;
}

#confirma:hover {
    cursor:pointer;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divContato {
    user-select:none;
    font-weight: bolder;
    position:absolute;
    text-align:center;
    margin-bottom:10px;
    bottom:0px;
    color:rgb(52, 52, 52);
    transition:transform 0.5s;
}

.divContato:hover {
    transform:scale(1.1)   
}

.divContato a {
    text-decoration: none;
    color:rgb(83, 83, 83);
}

.divContato span {
    margin:5px;
    text-decoration: underline;
    color:rgb(83, 83, 83);
}

@media only screen and (max-width: 520px) {
    #h1Palavra {
        font-size: 6.4vw;
    }

    @keyframes popup {
        0% {
            font-size:6.4vw;
        }
        50% {
            font-size:6.8vw;
        }
        100% {
            font-size:6.4vw;
        }
    }
}